@import '../../theme.scss';

.button {
  background-color: #FFFFFF;
  padding: 12px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.02857em;
  line-height: 18px;
  &:hover {
    background-color: $white;
  }
}

.button-neutral {
  color: $black;
}

.button-green {
  color: $green;
}

.button-orange {
  color: $orange;
}

.button-red {
  color: $red;
}
