body {
    text-align: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 300;
    font-size: 6rem;
    margin: 0 0 33.6px 0;
}
h2 {
    font-weight: 300;
    font-size: 3.75rem;
    margin: 0 0 21px 0;
}
h3 {
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 17px 0;
}
h4 {
    font-weight: 400;
    font-size: 2.125rem;
    margin: 0 0 12px 0;
}
h5 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 0 8.5px 0;
}
h6 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0 0 7px 0;
}
p {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0;
}
span {
    font-weight: 400;
    font-size: 0.9rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

