$white: hsl(0, 0%, 90%);
$white_darker: hsl(0, 0%, 85%);
$black: hsl(0, 0%, 30%);
$green: hsl(170, 55%, 30%);
$green_darker: hsl(170, 55%, 25%);
$blue: hsl(200, 50%, 70%);
$blue_darker: hsl(200, 50%, 65%);
$orange: hsl(30, 100%, 50%);
$orange_darker: hsl(30, 100%, 45%);
$red: hsl(12, 100%, 50%);
$red_darker: hsl(12, 100%, 45%);